TheDepths_LastSong/Intermediate/

TheDepths_LastSong/.vs/

TheDepths_LastSong/Saved/

TheDepths_LastSong/Backup/

TheDepths_LastSong/Plugins/FMODStudio/Intermediate/

*.exe

*.exp

*.lib

*.pdb

*.obj

TheDepths_LastSong/Plugins/FMODStudio/Intermediate/Build/Win64/UnrealEditor/Inc/FMODStudio/UHT/Timestamp
